
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Roboto&family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Overpass',sans-serif;
}

body {
    background-color:hsl(216, 12%, 8%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: hsl(215, 30%, 15%);
    height: 350px;
    width: 350px;
    border-radius: 22px;
}

.first-box {
    height: 100%;
    width: 100%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.star {
    background-color: hsl(215, 20%, 18%);
    height: 38px;
    width: 38px;
    padding: 10px;
    border-radius: 100%;
    margin-bottom: 10px;
}

.heading {
    margin: 10px 0px;
    font-weight: 700;
    font-size: smaller;
}
.para {
    font-size: small;
    font-weight: 400;
    line-height: 1.30rem;
}
.para > p {
    color: hsl(215, 25%, 70%);
}

.rating {
    margin: 12px 0;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn {
    height: 40px;
    width: 40px;
    background-color: hsl(215, 20%, 25%);
    border-radius: 100%;
    border-width: 0px;
    padding: 10px;
    border: 1px solid hsl(28, 100%, 75%);
    color: hsl(28, 100%, 90%);
}

.submit {
    background-color: hsl(0, 100%, 100%);
    color: hsl(28, 100%, 50%);
    border: 2px solid hsl(28, 100%, 50%);
    border-radius: 25px;
    align-self: stretch;
    padding: 8px;
    font-size: medium;
    font-weight: 600;
}
.submit:hover {
    background-color:  hsl(28, 100%, 50%);
    color:hsl(0, 100%, 100%);
    border: 2px solid hsl(0, 100%, 100%);

}